/*main*/
section {
    display: flex;
    flex-direction: column;
}
.first-block {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-overvideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding-left: 100px;
    width: 700px;
    color: #22252C;
    gap: 25px;
    align-items: center;
}
.text-overvideo p{
    color:#a22f3c;
    font-size: 20px;
}
.text-overvideo h1{
    font-size: 90px;
    font-weight: 700;
    margin: 0;
}
.text-overvideo h3{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.marketing-video {
    object-fit: contain;
    opacity: 0.7;
}
.first-block-button {
    background-color: #a22f3c;
    color: #22252C; 
    width: 220px;
    height: 70px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 600;
    font-style: normal;
    transition-duration: 0.3s;
    border: none;
   
}
.first-block-button:hover {
    background-color: #a35a62;
  }
  .first-block-buttonn:active {
    opacity: 0.6;
  }
.second-block {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    padding: 60px;
}
.left-block {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    gap: 50px;
}
.discover-more-button {
    background-color: #E14658;
    color: white; 
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.3s;
    border: none;
   
}
.discover-more-button:hover {
    background-color: #dc707d;
  }
.discover-more-button:active {
    opacity: 0.6;
  }

.right-block {
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 80px;
}

.marketingImg{
    width: 650px;
    height: 400px;
    object-fit: cover;
    border: none;
    border-radius: 20px;
}

.left-block p, .left-block h1 {
    word-wrap: break-word; /* Lejon fjalët të ndahen kur janë shumë të gjata */
    max-width: 100%; /* Sigurohu që të mos dalin jashtë */
}
.head-part p{
    color: #E14658;
}
.head-part h1{
    font-style: normal;
    font-size: 30px;
}

.third-block {
    display: flex;
    height: auto;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(222deg 13% 15%) 0%,
        hsl(273deg 8% 17%) 5%,
        hsl(322deg 11% 18%) 9%,
        hsl(337deg 16% 20%) 14%,
        hsl(344deg 20% 22%) 18%,
        hsl(348deg 23% 24%) 23%,
        hsl(350deg 26% 26%) 27%,
        hsl(351deg 29% 28%) 32%,
        hsl(352deg 31% 30%) 36%,
        hsl(353deg 34% 32%) 41%,
        hsl(353deg 36% 34%) 45%,
        hsl(353deg 37% 36%) 50%,
        hsl(354deg 39% 38%) 55%,
        hsl(354deg 41% 40%) 59%,
        hsl(354deg 42% 42%) 64%,
        hsl(354deg 44% 44%) 68%,
        hsl(354deg 45% 46%) 73%,
        hsl(354deg 46% 48%) 77%,
        hsl(354deg 48% 50%) 82%,
        hsl(353deg 53% 52%) 86%,
        hsl(353deg 59% 54%) 91%,
        hsl(353deg 65% 56%) 95%,
        hsl(353deg 72% 58%) 100%
        );
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.third-block-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}
.third-block-title p {
    color:#E14658;
}
.third-block-title h1 {
    color: white;
    font: 400;
    font-size: 28px;
}

.third-block-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 30px;
    
}
.block-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.block-form img{
    width: 55px;
    height: 55px;
}
.block-form-button{
    width: 120px;
    height: 42px;
    margin-top: 30px;
    background-color: #E14658;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition-duration: 0.3s;
    
}
.block-form-button:hover {
    background-color: #dc707d;
  }
.block-form-button:active {
    opacity: 0.6;
  }

.fourth-block {
    display: flex;
    height: auto;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
}
.fourth-block h2 {
    color: #E14658;
    font-size: 34px;
    font-weight: 400;
}
.fourth-block-img {
    width: 100%;
    
}
.fourth-block-body {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.fourth-block-body img {
    width: 55px;
    height: 55px;
    
}

.fourth-block-body-form {
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
    transition: background-color 0.3s ease;
}
.fourth-block-body-form:hover {
    background: linear-gradient(to right, #E14658, #22252C);
    color: whitesmoke;
}
.fourth-block-body-form img {
    transition: filter 0.3s ease;
}
.fourth-block-body-form:hover img{
    mix-blend-mode: lighten; /* Përzien imazhin me sfondin */
    filter: brightness(0) invert(1); /* Bën ikonën të bardhë */
}

.fifth-block {
    display: flex;
    height: 800px;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(222deg 13% 15%) 0%,
        hsl(273deg 8% 17%) 5%,
        hsl(322deg 11% 18%) 9%,
        hsl(337deg 16% 20%) 14%,
        hsl(344deg 20% 22%) 18%,
        hsl(348deg 23% 24%) 23%,
        hsl(350deg 26% 26%) 27%,
        hsl(351deg 29% 28%) 32%,
        hsl(352deg 31% 30%) 36%,
        hsl(353deg 34% 32%) 41%,
        hsl(353deg 36% 34%) 45%,
        hsl(353deg 37% 36%) 50%,
        hsl(354deg 39% 38%) 55%,
        hsl(354deg 41% 40%) 59%,
        hsl(354deg 42% 42%) 64%,
        hsl(354deg 44% 44%) 68%,
        hsl(354deg 45% 46%) 73%,
        hsl(354deg 46% 48%) 77%,
        hsl(354deg 48% 50%) 82%,
        hsl(353deg 53% 52%) 86%,
        hsl(353deg 59% 54%) 91%,
        hsl(353deg 65% 56%) 95%,
        hsl(353deg 72% 58%) 100%
        );
    height: 100vh;
    display: flex;
    
}
.need-help {
    background-color: white;
    height: 400px;
    display: flex;
}
.footer {
    display: flex;
    height: 800px;
    width: 100%;
    background-color: rgb(33, 44, 79);

}

/* Për responsive design kur dritarja është më e vogël se 768px */
@media (max-width: 1100px) {
    .second-block {
        height: fit-content; /* Lër lartësinë të përshtatet me përmbajtjen */
        grid-template-columns: 1fr;
    }
    .left-block {
        flex-direction: column;
        align-items: center;
        
    }
    .left-block p{
        text-align: center;
    }
    .right-block{
        padding: 20px; /* Redukto padding për më pak hapësirë */
        display: flex;
        justify-content: center;

    }
    .marketingImg {
        max-width: 100%; /* Sigurohu që imazhet të përshtaten */
        align-items: center;
        object-fit: cover;
        border: none;
        border-radius: 20px;
    }
    .third-block {
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }
    .third-block-body{
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    .third-block-title h1{
        text-align: center;
    }
}
body, html {
    overflow-x: hidden; /* Parandalon scroll horizontal */
}
