/*header*/
navbar {
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22252C;
    z-index: 100;
    opacity: 0.9;

   
}

.user-box {
    display: none;
    position: absolute;
    top: 50px; 
    right: 10px; 
    background: white;
    border: 1px solid #ddd;
    z-index: 100;
    padding: 20px;
    right: 2rem;
    padding-right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn {
    background-color: #E14658;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    
}

.btn:hover {
    background-color: #dc707d;
    
}

.icons {
    color:  white;
    font-size: 24px;
    padding-left: 80px;
}

#menu-btn {
    display: none;
}

#user-btn {
    cursor: pointer;;
}
.submenu-content {
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 8px;
        position: absolute;
        top: 80%; /* Shfaqet poshtë elementit prind */
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none; /* E fshehur në fillim */
        z-index: 1000;
}

.submenu-content > li > a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.submenu-content {
    background-color: #f0f0f0;
}


.menu-item:hover .submenu-content{
    display: block; 
}

.menu-item a{ 
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}


.menu-item {
    padding-bottom: 20px;
    padding-top: 20px;
    list-style: none;
    
}

.menu-item > a::after {
    content: "▼";
    font-size: 11px;
    color: white;
    margin-left: 8px;
    margin-bottom: 0px;
    position: relative;
    top: -1.5px;
}



.menu-item > a:hover::after {
    color: #E14658;
   
}
.submenu-content > li > a:hover {
    background-color: #E14658;
    color: white;
    transition: 0.6s;
}
navbar a {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
navbar a:hover{
    color: #E14658;
    transition: 0.6s;
}

.left-section {
    display: flex;
    align-items: center;
    width: 200px;

}
.logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
}

.middle-section {
    flex: 1;
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}


.right-section {
    display: flex;
    width: 250px;
    align-items: center;
    padding-right: 10px;
    justify-content: space-around;
}

.log-in-button {
    background-color: #E14658;
    color: white;
    margin-left: 40px; 
    width: 114px;
    height: 43px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.3s;
    border: none;
}
.log-in-button:hover {
    background-color: #dc707d;
  }
.log-in-button:active {
    opacity: 0.6;
  }

  

.mid{
    display: none;
}
  @media (max-width: 885px) {
    .middle-section{
        display: none;
    }
    #menu-btn {
        display: block;
        cursor: pointer;
    }
    
    .mid {
        
        position: absolute;
        display: block ;
        background-color: #ddd;
        height: auto;
        flex-direction: column;
        min-width: 100%;
        align-items: flex-start;
        justify-content: left;
        top: 100%;
        transition: 0.5s;
        
    }
    .mid a {
        color: #333;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 20px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        }
    .mid a:hover {
        background-color: #E14658;
        color: white;
    }
    .icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    

    .mid{
        display: none ;
    }
    
}
  

