section {
    display: flex;
    flex-direction: column;
}
.first-block {
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;  
}
.text-overvideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding-left: 100px;
    width: 700px;
    color: #22252C;
    gap: 25px;
    align-items: center;
}
.text-overvideo p{
    color:#a22f3c;
    font-size: 20px;
}
.text-overvideo h1{
    font-size: 90px;
    font-weight: 700;
    margin: 0;
}
.text-overvideo h3{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.marketing-video {
    object-fit: contain;
    opacity: 0.7;
    width: 100%;
    
}
.first-block-button {
    background-color: #a22f3c;
    color: #22252C; 
    width: 220px;
    height: 70px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 600;
    font-style: normal;
    transition-duration: 0.3s;
    border: none;
   
}
.first-block-button:hover {
    background-color: #a35a62;
  }
  .first-block-buttonn:active {
    opacity: 0.6;
  }
.second-block {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    padding: 60px;
    gap: 30px;
}
.left-block {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    gap: 30px;
    flex: 1;
}
.discover-more-button {
    background-color: #E14658;
    color: white; 
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.3s;
    border: none;
   
}
.discover-more-button:hover {
    background-color: #dc707d;
  }
.discover-more-button:active {
    opacity: 0.6;
  }

.right-block {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    position: relative;
    flex: 1;
    margin-bottom: 50px;
    margin-left: 20px;
}

.marketingImg{
    width: 590px;
    height: 370px;
    object-fit: cover;
    border: none;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.right-block-second-img img{
    position: absolute;
    width: 400px;
    height: 250px;
    z-index: 2;
    object-fit: cover;
    border: none;
    border-radius: 20px;
    right: 300px;
    bottom: -30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-block p, .left-block h1 {
    word-wrap: break-word;
    max-width: 100%;
}
.head-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.head-part p{
    color: #E14658;
}
.head-part h1{
    font-style: normal;
    font-size: 30px;
}

.third-block {
    display: flex;
    height: auto;
    width: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(222deg 13% 15%) 0%,
        hsl(273deg 8% 17%) 5%,
        hsl(322deg 11% 18%) 9%,
        hsl(337deg 16% 20%) 14%,
        hsl(344deg 20% 22%) 18%,
        hsl(348deg 23% 24%) 23%,
        hsl(350deg 26% 26%) 27%,
        hsl(351deg 29% 28%) 32%,
        hsl(352deg 31% 30%) 36%,
        hsl(353deg 34% 32%) 41%,
        hsl(353deg 36% 34%) 45%,
        hsl(353deg 37% 36%) 50%,
        hsl(354deg 39% 38%) 55%,
        hsl(354deg 41% 40%) 59%,
        hsl(354deg 42% 42%) 64%,
        hsl(354deg 44% 44%) 68%,
        hsl(354deg 45% 46%) 73%,
        hsl(354deg 46% 48%) 77%,
        hsl(354deg 48% 50%) 82%,
        hsl(353deg 53% 52%) 86%,
        hsl(353deg 59% 54%) 91%,
        hsl(353deg 65% 56%) 95%,
        hsl(353deg 72% 58%) 100%
        );
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.third-block-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}
.third-block-title p {
    color:#E14658;
}
.third-block-title h1 {
    color: white;
    font: 400px;
    font-size: 28px;
}

.third-block-texti1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: white;
    
}
.block-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}
.block-form img{
    width: 55px;
    height: 55px;
}
.block-form-button{
    width: 120px;
    height: 42px;
    margin-top: 30px;
    background-color: #E14658;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition-duration: 0.3s;
    
}
.block-form-button:hover {
    background-color: #dc707d;
  }
.block-form-button:active {
    opacity: 0.6;
  }

.fourth-block {
    display: flex;
    height: auto;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
}
.fourth-block h2 {
    color: #E14658;
    font-size: 34px;
    font-weight: 400;
}
.fourth-block h2 {
    margin-bottom: 10px;
}
.fourth-block-img {
    width: 100%;
    
}
.fourth-block-body {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.fourth-block-body img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
    
}
.fourth-block-body-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
    transition: background-color 0.3s ease;
}
.fourth-block-body-form:hover {
    background: linear-gradient(to right, #E14658, #22252C);
    color: whitesmoke;
}
.fourth-block-body-form img {
    transition: filter 0.3s ease;
}
.fourth-block-body-form:hover img{
    mix-blend-mode: lighten; /* Përzien imazhin me sfondin */
    filter: brightness(0) invert(1); /* Bën ikonën të bardhë */
}

.fifth-block {
    display: flex;
    height: auto;
    background-image: linear-gradient(
        45deg,
        hsl(222deg 13% 15%) 0%,
        hsl(273deg 8% 17%) 5%,
        hsl(322deg 11% 18%) 9%,
        hsl(337deg 16% 20%) 14%,
        hsl(344deg 20% 22%) 18%,
        hsl(348deg 23% 24%) 23%,
        hsl(350deg 26% 26%) 27%,
        hsl(351deg 29% 28%) 32%,
        hsl(352deg 31% 30%) 36%,
        hsl(353deg 34% 32%) 41%,
        hsl(353deg 36% 34%) 45%,
        hsl(353deg 37% 36%) 50%,
        hsl(354deg 39% 38%) 55%,
        hsl(354deg 41% 40%) 59%,
        hsl(354deg 42% 42%) 64%,
        hsl(354deg 44% 44%) 68%,
        hsl(354deg 45% 46%) 73%,
        hsl(354deg 46% 48%) 77%,
        hsl(354deg 48% 50%) 82%,
        hsl(353deg 53% 52%) 86%,
        hsl(353deg 59% 54%) 91%,
        hsl(353deg 65% 56%) 95%,
        hsl(353deg 72% 58%) 100%
        );
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
    
    
}
.wcu {
    color:#E14658;
}
.need-help {
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.need-help h1{
    font-size: 34px;
    font-weight: 700;
}
.need-help-button {
    width: 150px;
    height: 50px;
    background-color: #E14658;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition-duration: 0.3s;
}
.need-help-button a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.need-help-button:hover {
    background-color: #dc707d;
  }
.need-help-button:active {
    opacity: 0.6;
  }
.footer {
    display: flex;
    height: auto;
    background-color: #22252C;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;

}
.footer a{
    color: white;
    font-size: 17px;
    font-weight: 400;
}
.footer h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}
.footer-first {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 500px;
    
}
.footer-second {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.footer-third {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.footer-fourth {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.list {
    list-style-type: none;
    padding: 0;
    
}
.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    
    
}
.list a {
    font-size: 17px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
.list li::before {
    content: '\25B6';
    color: #E14658;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 10px;
}
.list li a:hover {
    color: #E14658;
    transition: 0.3s;
}
.list li:hover{
    color: white;
}

.footer-first img{
    width: 200px;
    
}



@media (max-width: 1100px) {
    .header {
        min-width: 900px;
    }
    .first-block {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: auto;
        padding-right: 100px;
    }
    .marketing-video {
        width: auto;
        height: auto;
    }
    .text-overvideo {
        width: fit-content;
        height: auto;
    }
    .second-block {
        height: auto; 
        flex-direction: column;
        width: auto;
        text-align: center;
        justify-content: center;
        

        
    }
    .right-block {
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    .marketingImg{
        object-fit: cover;    
        height: auto;
        max-width: 100%;
    }
    .right-block-second-img img{
        visibility: hidden;
    }

    .third-block {
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }

    .third-block-body{
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    .third-block-title h1{
        text-align: center;
    }
    .fourth-block {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .fourth-block-body {
        flex-direction: column;
        position: absolute;
        width: 200px;
    height: 250px;
    }
    .fifth-block {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    

    .need-help {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer {
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .footer-first {
        text-align: center;
        align-items: center;
    }

}
body, html {
    overflow-x: hidden; 
}
.foto3 {
    position: absolute;
    width: 200px;
    height: 250px;
}
.texti2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: #E14658; 
    margin-left: 500px;

}
